algorithm (Case Conflict)/CB project/Algorithm/var.h
algorithm (Case Conflict)/CB project/Algorithm/neatevolvecopy.lua.txt
algorithm (Case Conflict)/CB project/Algorithm/Algorithm.cbp

*.pyc
*~
*.old
